@font-face {
    font-family: 'bytesize';
    src: url('assets/Bytesized-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-image: url("assets/background.png");
    /*background-size: contain;
    background-repeat: no-repeat;*/
    background-position: center center;
    height: 100vh;
    width: 100vw;
    font-family: 'bytesize', cursive;
    text-align: center;
}  

h1 {
    color: #6d6875;
    font-size: 2.5rem;
}

#taskBookBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 75px;
    border-radius: 0px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

#taskBookBtn:active {
    transform: scale(0.95);
}

#back_arrow {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}
    
#back_arrow:hover {
    transform: rotate(-10deg) scale(1.1);
}

/* checking this is connected to github :(*/